/*Setup local custom font*/
@font-face {
    font-family: rainyHearts;
    src: url(assets/rainyhearts.ttf);
    font-stretch: ultra-expanded;
  }  

html {
    height:100%;
}

/*Configure wallpaper image*/
body {
    background-image: url("assets/day/Background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height:100%;
}
/*Make actual switch invisible since we only want to see the icon inside the switch*/
button.switch {
    background: none;
    border: none;
}
/*Config for desktop icon image*/
img.switch {
    width:75px;
    height:auto;
    /*Draw white outline around each transparent image (I stole this off google lol)*/
    filter: drop-shadow(2px 0 0 white) 
        drop-shadow(0 2px 0 white)
        drop-shadow(-2px 0 0 white) 
        drop-shadow(0 -2px 0 white);
}
/*Set font settings for the text below each desktop icon*/
.icon_text {
    text-align: center;
    color: white;
    font-family: rainyHearts;
    font-size: x-large;
}

/*This part is probably inefficient because I have to repeat it for each button
to prevent duplication, but I'm not good enough at web development yet to make it more efficient*/

/*Make the icon text's background blue when the icon is hovered over to emulate a desktop environment.*/
body:has(#nightday.switch:hover) #nightday.icon_text{
    background-color:paleturquoise;
    border-radius:5px;
}