/*Setup local custom font*/
@font-face {
    font-family: rainyHearts;
    src: url(assets/rainyhearts.ttf);
    font-stretch: ultra-expanded;
  }  

html {
    height:100%;
}

/*Configure wallpaper image and custom cursor*/
body {
    background-image: url("assets/night/Background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height:100%;
    cursor: url("assets/night/cursor_normal.cur"), auto;
    color: white;
    font-family: rainyHearts;
    font-size: x-large;
}
/*Make actual switch invisible since we only want to see the icon inside the switch*/
button.switch {
    background: none;
    border: none;
}
/*Config for desktop icon image*/
img.switch {
    width:75px;
    height:auto;
    /*Draw white outline around each transparent image (I stole this off google lol)*/
    filter: drop-shadow(2px 0 0 white) 
        drop-shadow(0 2px 0 white)
        drop-shadow(-2px 0 0 white) 
        drop-shadow(0 -2px 0 white);
}
/*Set font settings for the text below each desktop icon*/
.icon_text {
    text-align: center;
}

/*This part is probably inefficient because I have to repeat it for each button
to prevent duplication, but I'm not good enough at web development yet to make it more efficient*/

/*Make the icon text's background a different colour when the icon is hovered over to emulate a desktop environment.*/
body:has(#nightday.switch:hover) #nightday.icon_text{
    background-color:rgb(243, 226, 255);
    border-radius:5px;
}
body:has(#aboutme.switch:hover) #aboutme.icon_text{
    background-color:rgb(243, 226, 255);
    border-radius:5px;
}

body:has(#gallery.switch:hover) #gallery.icon_text{
    background-color:rgb(243, 226, 255);
    border-radius:5px;
}

/*container window styling*/
.window {
    display:none;
    background-color: white;
    position:absolute;
    color:black;
}

/*window header styling*/
.window_header {
    background-color: rgb(209, 140, 241);
    position:absolute;
    color:white;
    width:100%;
}
/*styling x to close window*/
.window_close {
    float:right;
    display:inline;
    border:none;
    background-color: rgb(243, 226, 255);
    font-family: rainyHearts;
    font-size:x-large;
    color:black;
}

/*so cursor stays as custom when hovering over buttons*/
button:hover {
    cursor: url("assets/night/cursor_normal.cur"), auto;
}

/*style gallery buttons*/
.gallery {
    display:inline;
    border:none;
    background-color:white;
    color:rgb(165, 116, 165);
    font-family:rainyHearts;
    font-size:x-large;
    margin-top:150px;
}

/*style gallery left/right arrow buttons*/
#gallery_left {
    float:left;
}

#gallery_right {
    float:right;
}

/*style desc text for gallery images*/
.description {
    color:rgb(184, 184, 184);
    text-align: center;
    font-size: large;
}

/*so images dont stretch*/
#gallery_current {
    height:350px;
}